In [1]:
import pandas as pd

In [2]:
s=pd.Series([10,20,30,40,50])

In [3]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s.values

array([10, 20, 30, 40, 50], dtype=int64)

In [5]:
s.dtype

dtype('int64')

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
print(s.name) #This will give name of the column ""

None

In [8]:
s.name='Numbers'

In [9]:
s

0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64

In [10]:
#Indexing 

s[0]

10

In [11]:
s[0:2]

0    10
1    20
Name: Numbers, dtype: int64

In [12]:
# Another way of doing indexing is using iloc 
# This method give the location of the given index

In [14]:
s.iloc[0]

10

In [16]:
# If you want multiple values then you have to give index of all the items you want
s.iloc[[1,2,3]]

1    20
2    30
3    40
Name: Numbers, dtype: int64

In [17]:
s.name='calories'

In [18]:
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [19]:
index=['apple','banana','grapes','orange','watermelon']

In [20]:
s.index=index

In [21]:
s

apple         10
banana        20
grapes        30
orange        40
watermelon    50
Name: calories, dtype: int64

In [22]:
s['apple']

10

In [23]:
# s.iloc['apple'] This is wrong method, you can still use the iloc method but using the indes number only 
s.iloc[0]

10

In [24]:
# To get data using labels there is a function called loc 
# In this, the start as well as ending values both are included

In [25]:
s.loc['banana':'watermelon']

banana        20
grapes        30
orange        40
watermelon    50
Name: calories, dtype: int64

In [27]:
# For multiple values the method is same 
s.loc[['banana','watermelon']]

banana        20
watermelon    50
Name: calories, dtype: int64

In [28]:
fruit_protein = {
"Avocado": 2.0,
"Guava": 2.6,
"Blackberries": 2.0,
"Oranges": 0.9,
"Banana": 1.1,
"Apples": 0.3,
"Kiwi": 1.1,
"Pomegranate": 1.7,
"Mango": 0.8,
"Cherries": 1.0
# grams of protein 
}

In [29]:
s2=pd.Series(fruit_protein)

In [30]:
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
dtype: float64

In [31]:
s2.name='Gram'

In [32]:
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Gram, dtype: float64

In [33]:
# This will give boolean value as True or False  
# THis is called as conditional selection 
s2>1

Avocado          True
Guava            True
Blackberries     True
Oranges         False
Banana           True
Apples          False
Kiwi             True
Pomegranate      True
Mango           False
Cherries        False
Name: Gram, dtype: bool

In [34]:
# If we want to print only those which are True then use 
s2[s2>1]

Avocado         2.0
Guava           2.6
Blackberries    2.0
Banana          1.1
Kiwi            1.1
Pomegranate     1.7
Name: Gram, dtype: float64

In [38]:
s2[(s2>0.5) & (s2<2)] # This is the correct syntax

Oranges        0.9
Banana         1.1
Kiwi           1.1
Pomegranate    1.7
Mango          0.8
Cherries       1.0
Name: Gram, dtype: float64

In [39]:
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Gram, dtype: float64

In [40]:
s2['Mango']=4.5 # This is the way of modifying a particular value

In [41]:
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           4.5
Cherries        1.0
Name: Gram, dtype: float64